@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
  background-color: #3f3567;
  font-family: Montserrat ,sans-serif;
}
.container{
    border:2px solid red;
    width:350px;
    margin:100px auto;
    background-color: #231e39;
    color:#b3b8cd;
    border-radius: 5px;
    box-shadow:0 10px 20px -10px rgba(0,0,0,0.75);
    padding-top:30px;
    text-align: center;

}
.container img{
    border-radius:50%;
    border:1px solid #03bfcb;
    padding:7px;

}
.container h3{
    margin:5px 0;

}
.container p{
    margin:5px 0;
    
}
button{
    background-color:#03bfcb;
    border:1px solid #03bfcb;
    padding:10px 15px;
    border-radius:3px;
    font-family:Montserrat ,sans-serif ;
    font-weight: bold;
    color:#1a162c;
}
.outline{
    background-color:transparent;
    color:#03bfcb;
    
}
.skills{
    background-color:#1f1a36;
    text-align: left;
    padding:16px;
    margin-top:30px;
}
.skills ul{
    list-style: none;
    padding:10px;

}
.skills ul li{
    border:1px solid #2d2747;
    border-radius: 2px;
    display:inline-block;
    padding:7px;
    font-size: 12px;
    margin:3px;
}